.sculptureGalleryDiv {
  position: relative;
  /* top: 23vh; */
  margin: 13rem 0 0 27rem;
  width: 350vw;
  /* height: 100vh; */
  /* padding-bottom: 80%; */
  cursor: pointer;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  /* grid-auto-flow: dense; */
  /* background: white; */
  /* overflow: hidden; */
  transition: 1.35s cubic-bezier(0.3, 0, 0.5, 1);
  }


  .bikeGalleryDiv {
    /* position: absolute; */
    /* top: 23vh; */
    margin: 13rem 0 0 7rem;
    width: 75vw;
    padding-bottom: 30%;
    border-top: 2px solid rgb(31, 19, 19);
    border-right: 1rem solid black;
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    /* grid-auto-flow: dense; */
    /* background: whitesmoke; */
    transition: 23s linear;
  }