.containingDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom:2px solid #c1272d;
    border-right: 2px solid #c1272d; 
    border-top: 2px solid #c1272d;
    position: absolute;
    top: 24vh;
    left: 15vw;
    width: 27vw;
    background: white;
    padding: 1rem;
    z-index: 1;
    transition: 0.5s cubic-bezier(0.4, 0, 0.4, 1);
  }