.bigWheel {
  position: absolute;
  bottom: 55%;
  right: -28%;
  animation: spin infinite 4s linear;
}

.bikeDiv {
  position: relative;
}

.pennyFrame {
  position: absolute;
  bottom: 60%;
}

.smallWheel {
  position: absolute;
  bottom: 56%;
  right: 29%;
  animation: spin infinite 1.6s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
