
  .innerContentContainer{
    width: 50vw;
    height: 50vh;
    overflow: scroll;
    overflow-x: hidden;  
    padding:2rem;
  }

    .innerContentContainer::-webkit-scrollbar {
      width: .5rem;
  }
  
  .innerContentContainer::-webkit-scrollbar-track {
      background: none;
  }
  
  .innerContentContainer::-webkit-scrollbar-thumb {
      background: #c1272d;
      /* border-radius: .5rem; */
  }
  
  .innerContentContainer::-webkit-scrollbar-thumb:hover {
      background: #c1272d;
  }
  
  .statementDiv {
    font-weight: 300;
    line-height: 1.6em;
    letter-spacing: .0125rem;
  }

  .accordionTitle {
    color: white;
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .accordion {
    background-color: #c1272d;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 500;
    transition: 0.4s;
    margin: .5rem;
}

.accordionContent {
  font-size: .85rem;
  font-weight: 300;
  overflow: hidden;
  line-height: 1.5;
  letter-spacing: .0125rem;
  padding: 0rem 2rem 2rem;
}

.aboutUsHr{
  background-color: #c1272d;
  border: none;
  height: .0125rem;
  width: 50%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.boardContent{
  display: flex;
  justify-content: space-between;
}
