
  
  .innerContentContainer{
    width: 50vw;
    height: 50vh;
    overflow: scroll;
    overflow-x: hidden;  
    padding:2rem;
  }

    .innerContentContainer::-webkit-scrollbar {
      width: .5rem;
  }
  
  .innerContentContainer::-webkit-scrollbar-track {
      background: none;
  }
  
  .innerContentContainer::-webkit-scrollbar-thumb {
      background: #c1272d;
      /* border-radius: .5rem; */
  }
  
  .innerContentContainer::-webkit-scrollbar-thumb:hover {
      background: #c1272d;
  }

.accordion {
    /* background-color: #c1272d; */
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 500;
    /* padding: 0 2rem; */
    transition: 0.4s;
    white-space: nowrap;
    width: 90%;
}

.artistName{
  /* margin: 1rem 2rem 0; */
}

.accordionContent {
  font-size: .85rem;
  font-weight: 300;
  overflow: hidden;
  line-height: 1.5;
  letter-spacing: .0125rem;
  /* padding: 0rem 1rem 2rem; */
}