.accordion {
    /* background-color: #c1272d; */
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 500;
    /* padding: 0 2rem; */
    transition: 0.4s;
    white-space: nowrap;
    width: 90%;
}

.artistName{
  /* margin: 1rem 2rem 0; */
}

.sculptureTitle{
  font-weight:600;
  color: #c1272d;
}

.accordionContent {
  font-size: .85rem;
  font-weight: 300;
  overflow: hidden;
  line-height: 1.5;
  letter-spacing: .0125rem;
  /* padding: 0rem 1rem 2rem; */
}

.artistHr{
    background-color: #c1272d;
    border: none;
    height: .0125rem;
    /* width: 50%; */
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }