header {
    align-items: center;
    /* box-shadow: 2px 2px #c1272d; */
    border-bottom: 3px solid #c1272d;
    background: white;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    /* transform: translateY(-20vh); */
    transition: 1s cubic-bezier(0.4, 0, 0.58, 1);
    width: 100vw;
    height: 22vh;
    z-index: 2;
  }

  header img {
    width: 27%;
    margin-bottom: 0.5rem;
  }