.tileDiv {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sculptureImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}

.hover {
  filter: brightness(80%) hue-rotate(180deg) saturate(30%) invert(20%);
}

.horizontal {
  grid-column: span 3;
}

.vertical {
  grid-row: span 3;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

.huge {
  grid-column: span 2;
  grid-row: span 3;
}
