.tileDiv {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sculptureImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}

.hover {
  filter: brightness(80%) hue-rotate(180deg) saturate(30%) invert(20%);
}

/* .horizontal {
  grid-column: span 3;
}

.vertical {
  grid-row: span 3;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

.huge {
  grid-column: span 2;
  grid-row: span 3;
} */

.imageDetails {
  position: absolute;
  bottom: 0;
  padding: 0.5rem;
  opacity: 0;
  transition: 0.5s cubic-bezier(0.3, 0, 0.5, 1);
}

.imageDetails.open {
  color: #fff;
  font-size: 1.25rem;
  text-align: center;
  opacity: 1;
  /* transform: translateY(-50px); */
}
